/.gradle/
/build/
/target/
/out/
/classes/
/.idea/
/bin/
/logs/
/ddl/*.ldb
/ddl/.gradle
*.log
*.log.*
*.bat
*.iml
/core/.gradle
/core/codec/*.iml
/core/codec/logs
/core/codec/target
/core/codec/out
/core/codec/.gradle
/core/date/*.iml
/core/date/logs
/core/date/target
/core/date/out
/core/date/.gradle
/core/enum/*.iml
/core/enum/logs
/core/enum/target
/core/enum/out
/core/enum/.gradle
/core/lang/*.iml
/core/lang/logs
/core/lang/target
/core/lang/out
/core/lang/.gradle
/core/reflection/*.iml
/core/reflection/logs
/core/reflection/target
/core/reflection/out
/core/reflection/.gradle
/core/uuid/*.iml
/core/uuid/logs
/core/uuid/target
/core/uuid/out
/core/uuid/.gradle
/web/*.iml
/web/logs
/web/target
/web/out
/web/.gradle
/web/convert/*.iml
/web/convert/logs
/web/convert/target
/web/convert/out
/web/convert/.gradle
/web/utils/*.iml
/web/utils/logs
/web/utils/target
/web/utils/out
/web/utils/.gradle

