/.gradle/
/.vscode/
/.codex/code-quality/
/gradle/
/build/
/build-cache/
/target/
/out/
/classes/
/.idea/
/bin/
/logs/
/**/.settings/
/ddl/*.ldb
/ddl/.gradle
*.log
*.log.*
*.bat
*.iml
/gradlew
/**/*.iml
/**/logs
/**/target
/**/out
/**/.gradle
/**/bin
/**/build
